@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'IBM Plex Mono', monospace;
}

html{
    opacity: 0.8;
    background: linear-gradient(135deg, #12132555 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #121325 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #12132555 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #121325 25%, #070708 25%) 0px 0/ 80px 80px;
}

header{
    background-color: #778899;
}

footer{
    background-color: aquamarine;
    padding: 1em;
}


/* EMPIEZA CSS BREAKPOINT CEL*/

@media all and (min-width:320px){
  
  #logo{
    margin: auto;
    display: flex;
    width: 12em;
    height: 10em;
  }

  h2{
    text-align: center;
  }
  
  #menu-enl li{
    margin: 0.50em;
    border: 0.20em black solid;
 }

  #menu-enl a{
    padding: 1em;
    display: block;
    max-width: 100%;
    text-decoration: none;
    color:black;
    font-size: large;
    border: black 0.10em solid;
}

#cerrar{
    display: none;
    margin: 1em;
}

#abrir{
    margin: 1em;
}

#menu-enl{
    overflow: hidden;
    height: 0;
    transition: 1s ease height;
}

#menu:target #abrir{
    display: none;
}

#menu:target #cerrar{
    display: block;
}

#menu:target #menu-enl{
    height: 20em;
}
#menu img{
    width: 3em;
    height: 3em;
  }


.cardG{               
    box-shadow: 0.4em 0.4em 0.4em gray ;
    width: 20em;
    margin-right: 1.3em;
    margin-left: 1.3em;                                    /*CARD DE LOS JUEGOS*/
    margin-bottom: 2em;                                   /*CARD DE LOS JUEGOS*/
    margin-top: 1em;                                       /*CARD DE LOS JUEGOS*/
    height: 38em;
    background-color: lightgrey;
    border-radius: 1em;
 
}
 
.cardG figure{
    height:21em;
}

.cardG img{
    height: 20em;
    border-radius: 0.5em;
    width: 20em;
    box-shadow:0.2em black;
}

.info {
    display: flex;
    flex-direction: column;
}

table{
    display: grid;
    place-content: center;
}

th,td{
    text-align: center;
    padding:0.5em;
    width: 10em;
    height: 2em;
    border:0.2em black solid;
}


input[type="button"]{
   cursor: pointer;
   margin: 1em;
   width: 90%;
   height: 4em;
   background-color: green;
   border-radius: 1em;
   color: white;
}

.slider{
  display:none;
}

}
/*CIERRA BREAKPOINTCEL*/

/*EMPIEZA BREAKPOINT TABLE*/

@media all and (min-width:768px){

.cardG{
    margin-left: 4em;
}

#main1{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#abrir, #cerrar{
    margin: 2em;
}

#menu ul li{ 
   text-align: center;
}

.slider{
  display: none;
}

}
/*CIERRA BREAKPOINT TABLE*/

/*EMPIEZA BREAKPOINT MONITOR*/
@media all and (min-width:1200px){

  .cardG{
    margin-left: 4em;
  }


  #abrir, #cerrar{
    display: none;
    cursor: none;
  }

 #menu{
    width: 60%;
    height: 10em;
    display: grid;
    place-content: right;
 }
 
 nav ul{
    width: 45em;
    height: 10em;
 }

nav ul li{
    width: 50%;
}


  figure{
    display: flex;
    flex-direction: row;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2{
    display: grid;
    place-content: center;
  }

  .slider{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.img-slider{
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

  #menu{
   display: grid;
   place-content: center;
  }

  #menu-enl{
    height: auto;
    display: flex;
    flex-direction: row;
    list-style:none;
}
   
  nav a:hover{
    transition: .5s ease;
    background-color: whitesmoke;
    color: black;
  }

  .cardG:hover{
    transform: scale(1,1.03);
    transition: ease .5s ;
  }

  .comprar:hover{
    transition: .6s ;
    background-color: crimson;
  }

  .flexIn{
    display: flex;
    flex-direction: row;
 }

form {
     margin:  auto;
     width: 600px;
     padding: 2em;
     color: white;
     background-color: darkblue;
     border-radius: 2em;
 } 

form ul{
  list-style: none;
}

form ul li{
  margin: 1em;
}

form input{
  padding: 1.5em;
  border: black solid 0.2em;
}

 .derecha{
     background-color: darkblue;
 }

 #logos{
     display: flex;
     flex-direction: row;
 }



}
