@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'IBM Plex Mono', monospace;
}

html{
    opacity: 0.8;
    background: linear-gradient(135deg, #12132555 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #121325 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #12132555 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #121325 25%, #070708 25%) 0px 0/ 80px 80px;
}

header{
    background-color: #778899;
}

footer{
    background-color: aquamarine;
    padding: 1em;
}


/* EMPIEZA CSS BREAKPOINT CEL*/
/* EMPIEZA CSS BREAKPOINT CEL*/

@media all and (min-width:320px){
  
  #logo{
    margin: auto;
    display: flex;
    width: 12em;
    height: 10em;
  }

  h2{
    text-align: center;
  }
  
  #menu-enl li{
    margin: 0.50em;
    border: 0.20em black solid;
 }

  #menu-enl a{
    padding: 1em;
    display: block;
    max-width: 100%;
    text-decoration: none;
    color:black;
    font-size: large;
    border: black 0.10em solid;
}

#cerrar{
    display: none;
    margin: 1em;
}

#abrir{
    margin: 1em;
}

#menu-enl{
    overflow: hidden;
    height: 0;
    transition: 1s ease height;
}

#menu:target #abrir{
    display: none;
}

#menu:target #cerrar{
    display: block;
}

#menu:target #menu-enl{
    height: 20em;
}
#menu img{
    width: 3em;
    height: 3em;
  }


.cardG{               
    box-shadow: 0.4em 0.4em 0.4em gray ;
    width: 19em;
    margin-right: 1.3em;
    margin-left: 1em;                                    /*CARD DE LOS JUEGOS*/
    margin-bottom: 2em;                                   /*CARD DE LOS JUEGOS*/
    margin-top: 1em;                                       /*CARD DE LOS JUEGOS*/
    height: 38em;
    background-color: lightgrey;
    border-radius: 1em;
 
}
 
.cardG figure{
    height:21em;
}

.cardG img{
    height: 20em;
    border-radius: 0.5em;
    width: 19em;
    box-shadow:0.2em black;
}

.info {
    display: flex;
    flex-direction: column;
}

table{
    display: grid;
    place-content: center;
}

th,td{
    text-align: center;
    padding:0.5em;
    width: 10em;
    height: 2em;
    border:0.2em black solid;
}


input[type="button"]{
   cursor: pointer;
   margin: 1em;
   width: 90%;
   height: 4em;
   background-color: green;
   border-radius: 1em;
   color: white;
}

.slider{
  display:none;
}

.flexIn{
  display: flex;
  flex-direction: column; 
}

form{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 2em;
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 0.2em;
  margin-bottom: 1em;
  background-color: darkblue;
  color: white;
  border-radius: 2em;
  font-size: larger;
}

form input{
  padding: 0.6em;
  border: solid black 0.2em;
  margin-bottom: 1em;
}

.derecha img{
  width: 3em;
  height: 3em;
  margin-left: 3em;
 }

 #logos{
     display: flex;
     flex-direction: row;
     margin: auto;  
 }
 .derecha{
  background-color: darkblue;
  border-radius: 1em;
  width: 100%;
  margin-bottom: 1em;                      /*INFORMACION FAQ DERECHA*/
  margin-left: 0.2em;                       /*INFORMACION FAQ DERECHA*/
  display: grid;                            /*INFORMACION FAQ DERECHA*/
  place-content: center;
  color: white;
}

#info1{
  margin-bottom: 1em;
}

textarea{
margin-bottom: 1.2em;

resize: none;
    }
input[type="submit"]{
  background-color: orange;
  padding: 1em;
}

iframe{
  width: 85%;
}

#contenido{
  color: white;
  display: grid;
  place-content: center;
}

#contenido article{
   margin: 1em;
}

#contenido img{
  border-radius: 4em;

}
 .w3-animate-fading {
    animation-duration: 6900ms;
     animation-delay: 200ms;
 }

footer{
  background-color: #112B3C;
  color: orangered;
 
}
/*CIERRA BREAKPOINTCEL*/
/*CIERRA BREAKPOINTCEL*/

/*EMPIEZA BREAKPOINT TABLE*/
/*EMPIEZA BREAKPOINT TABLE*/

@media all and (min-width:768px){

.cardG{
    margin-left: 4em;
}

#main1{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#abrir, #cerrar{
    margin: 2em;
}

#menu ul li{ 
   text-align: center;
}

.slider{
  display: none;
}

footer{
  background-color: #112B3C;
  color: orangered;
}

}
/*CIERRA BREAKPOINT TABLE*/
/*CIERRA BREAKPOINT TABLE*/

/*EMPIEZA BREAKPOINT MONITOR*/
/*EMPIEZA BREAKPOINT MONITOR*/
@media all and (min-width:1200px){

  .cardG{
    margin-left: 4em;
  }


  #abrir, #cerrar{
    display: none;
    cursor: none;
  }

 #menu{
    width: 60%;
    height: 10em;
    display: grid;
    place-content: right;
 }
 
 nav ul{
    width: 45em;
    height: 10em;
 }

nav ul li{
    width: 50%;
}


  figure{
    display: flex;
    flex-direction: row;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2{
    display: grid;
    place-content: center;
  }

  .slider{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.img-slider{
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

  #menu{
   display: grid;
   place-content: center;
  }

  #menu-enl{
    height: auto;
    display: flex;
    flex-direction: row;
    list-style:none;
}
   
  nav a:hover{
    transition: .5s ease;
    background-color: whitesmoke;
    color: black;
  }

  .cardG:hover{
    transform: scale(1,1.03);
    transition: ease .5s ;
  }

  .comprar:hover{
    transition: .6s ;
    background-color: crimson;
  }

  .flexIn{
    display: flex;
    flex-direction: row;
    margin-top: 6em;
    margin-bottom: 5em;
 }

form {
     width: 25%;
     padding: 1em;
     color: white;
     background-color: darkblue;
     border-radius: 2em;
     box-shadow: 0.4em 0.4em 0.4em darkblue;
     margin-left: 1em;
     font-size: larger;
 } 

form input{
  padding: 0.7em;
  border: black solid 0.2em;
  width: 60%;
}

 .derecha{
     background-color: darkblue;
     border-radius: 2em;
     width: 50%;
     display: grid;
     place-content: center;
     margin-right: 3em;
     margin-left: 5em;
     color: white;
     box-shadow: 0.4em 0.4em 0.4em darkblue;
 }

 #info1{
  margin-bottom: 4em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: larger;
 }

 .derecha img{
  width: 3em;
  height: 3em;
  margin-left: 3em;
 }

 #logos{
     display: flex;
     flex-direction: row;
     margin: auto;
 }

 input[type="submit"]{
  margin: auto;
  width: 50%;
  padding:1.8em;
 }

 footer{
  display: flex;
  flex-direction: row;
  background-color: #112B3C;
  color: orangered;
 }

 footer h3{
  display: grid;
  place-content: center;
 }

}
